@import "tailwindcss";

@source inline("text-semantic-none");
@source inline("text-semantic-keyword");
@source inline("text-semantic-method");
@source inline("text-semantic-identifier");
@source inline("text-semantic-numLit");
@source inline("text-semantic-regexLit");
@source inline("text-semantic-stringLit");

@theme {
  --color-accent: oklch(69.6% 0.17 162.48);
  --color-accent-active: oklch(52.7% 0.154 150.069);
  --color-semantic-none: white;
  --color-semantic-keyword: oklch(62.3% 0.214 259.815);
  --color-semantic-method: oklch(85.2% 0.199 91.936);
  --color-semantic-identifier: oklch(74.6% 0.16 232.661);
  --color-semantic-numLit: oklch(79.2% 0.209 151.711);
  --color-semantic-regexLit: oklch(70.4% 0.191 22.216);
  --color-semantic-stringLit: oklch(75% 0.183 55.934);
}

.root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

li {
  list-style-type: circle;
  margin-left: 1rem;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-attachment: fixed;

  background-blend-mode: multiply;

  background-image:
    linear-gradient(to bottom left, white, oklch(40.8% 0.153 2.432)),
    linear-gradient(to bottom right, white, oklch(74.6% 0.16 232.661)),
    linear-gradient(to top right, white, oklch(52.7% 0.154 150.069)),
    linear-gradient(to top left, white, black);
}

a:not(.sew) {
  font-weight: 500;
  color: var(--color-accent);
  text-decoration: underline;
}

a:hover {
  color: var(--color-accent-active);
}

.sew {
  text-decoration: none !important;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  color: var(--color-accent);
  text-shadow: 4px 4px oklch(14.1% 0.005 285.823);
}

h2 {
  font-size: 2.4em;
  font-weight: 400;
}

h3 {
  font-size: 2.4em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.6em;
}

h6 {
  font-size: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-bottom: 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.fira-mono,
pre,
code {
  font-family: "Fira Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
